
/***********************************************************************
  BASIC GRAY
***********************************************************************/
$md-basic0: (
  50 : #eceded,
  100 : #d0d1d1,
  200 : #b0b3b3,
  300 : #909495,
  400 : #797d7e,
  500 : #616667,
  600 : #595e5f,
  700 : #4f5354,
  800 : #45494a,
  900 : #333839,
  A100 : #96e4f7,
  A200 : #66d8f4,
  A400 : #28d4ff,
  A700 : #0ecfff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
$md-basic1: (
  50 : #e4e4e6,
  100 : #bcbcc0,
  200 : #8f8f96,
  300 : #62626c,
  400 : #40404d,
  500 : #1e1e2d,
  600 : #1a1a28,
  700 : #161622,
  800 : #12121c,
  900 : #0a0a11,
  A100 : #5555ff,
  A200 : #2222ff,
  A400 : #0000ee,
  A700 : #0000d4,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  ));
$md-basic2: (
  50 : #efeff1,
  100 : #d7d7dd,
  200 : #bdbdc6,
  300 : #a2a2af,
  400 : #8e8e9d,
  500 : #7a7a8c,
  600 : #727284,
  700 : #676779,
  800 : #5d5d6f,
  900 : #4a4a5c,
  A100 : #c1c1fd,
  A200 : #8f8ffb,
  A400 : #5858ff,
  A700 : #3f3fff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  ));
$md-basic3: (
  50 : #fbfbfc,
  100 : #f6f6f8,
  200 : #f0f0f4,
  300 : #eaeaf0,
  400 : #e6e6ec,
  500 : #e1e1e9,
  600 : #dddde6,
  700 : #d9d9e3,
  800 : #d5d5df,
  900 : #cdcdd9,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

/***********************************************************************
  orange
***********************************************************************/
$md-orange: (
  50 : #fceee1,
  100 : #f8d5b3,
  200 : #f4b980,
  300 : #ef9d4d,
  400 : #eb8827,
  500 : #e87301,
  600 : #e56b01,
  700 : #e26001,
  800 : #de5601,
  900 : #d84300,
  A100 : #ffffff,
  A200 : #ffd9cd,
  A400 : #ffb29a,
  A700 : #ff9f80,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
  

/***********************************************************************
  GREYISH BLUE
***********************************************************************/
$md-greyishblue: (
  50 : #e4e4e6,
  100 : #bcbcc0,
  200 : #8f8f96,
  300 : #62626c,
  400 : #40404d,
  500 : #1e1e2d,
  600 : #1a1a28,
  700 : #161622,
  800 : #12121c,
  900 : #0a0a11,
  A100 : #5555ff,
  A200 : #2222ff,
  A400 : #0000ee,
  A700 : #0000d4,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  ));

/***********************************************************************
  LIGHT GREYISH BLUE
***********************************************************************/
$md-lightgreyishblue: (
  50 : #efeff1,
  100 : #d7d7dd,
  200 : #bdbdc6,
  300 : #a2a2af,
  400 : #8e8e9d,
  500 : #7a7a8c,
  600 : #727284,
  700 : #676779,
  800 : #5d5d6f,
  900 : #4a4a5c,
  A100 : #c1c1fd,
  A200 : #8f8ffb,
  A400 : #5858ff,
  A700 : #3f3fff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  ));

/***********************************************************************
  LIGHT GRAY
***********************************************************************/
  $md-lightgray: (
    50 : #fbfbfc,
    100 : #f6f6f8,
    200 : #f0f0f4,
    300 : #eaeaf0,
    400 : #e6e6ec,
    500 : #e1e1e9,
    600 : #dddde6,
    700 : #d9d9e3,
    800 : #d5d5df,
    900 : #cdcdd9,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
      50 : #7a7a8c,
      100 : #7a7a8c,
      200 : #7a7a8c,
      300 : #7a7a8c,
      400 : #7a7a8c,
      500 : #7a7a8c,
      600 : #7a7a8c,
      700 : #7a7a8c,
      800 : #7a7a8c,
      900 : #7a7a8c,
      A100 : #7a7a8c,
      A200 : #7a7a8c,
      A400 : #7a7a8c,
      A700 : #7a7a8c,
  ));

/***********************************************************************
  yellow
***********************************************************************/
$md-yellow: (
    50 : #fffae0,
    100 : #fff3b3,
    200 : #ffeb80,
    300 : #ffe24d,
    400 : #ffdc26,
    500 : #ffd600,
    600 : #ffd100,
    700 : #ffcc00,
    800 : #ffc600,
    900 : #efb10a,
    A100 : #ffffff,
    A200 : #fffbf2,
    A400 : #ffecbf,
    A700 : #ffe4a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
/***********************************************************************
  black yellow
***********************************************************************/
$md-blackyellow: (
    50 : #e6e5e4,
    100 : #c0bfbc,
    200 : #96958f,
    300 : #6c6a62,
    400 : #4d4a40,
    500 : #2d2a1e,
    600 : #28251a,
    700 : #221f16,
    800 : #1c1912,
    900 : #110f0a,
    A100 : #ffd455,
    A200 : #ffc822,
    A400 : #eeb200,
    A700 : #d49f00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/***********************************************************************
  light greyish yellow
***********************************************************************/
$md-lightgreyishyellow: (
    50 : #f1f1ef,
    100 : #dddcd7,
    200 : #c6c4bd,
    300 : #afaca2,
    400 : #9d9b8e,
    500 : #8c897a,
    600 : #848172,
    700 : #797667,
    800 : #6f6c5d,
    900 : #5c594a,
    A100 : #fdf3c1,
    A200 : #fbe98f,
    A400 : #ffe358,
    A700 : #ffdf3f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/***********************************************************************
  light yellow gray
***********************************************************************/
$md-lightyellowgray: (
    50 : #fcfcfc,
    100 : #f9f9f7,
    200 : #f5f5f1,
    300 : #f0f0eb,
    400 : #edede7,
    500 : #eaeae3,
    600 : #e7e7e0,
    700 : #e4e4dc,
    800 : #e1e1d8,
    900 : #dbdbd0,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/***********************************************************************
  red
***********************************************************************/
$md-red: (
    50 : #f4e5e3,
    100 : #e4beba,
    200 : #d3938c,
    300 : #c1685d,
    400 : #b3473b,
    500 : #a62718,
    600 : #9e2315,
    700 : #951d11,
    800 : #8b170e,
    900 : #7b0e08,
    A100 : #ffacaa,
    A200 : #ff7b77,
    A400 : #ff4944,
    A700 : #ff302a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/***********************************************************************
  blue
***********************************************************************/
$md-blue: (
    50 : #e8f0fe,
    100 : #c5dafd,
    200 : #9fc1fc,
    300 : #78a8fa,
    400 : #5b95f9,
    500 : #3e82f8,
    600 : #387af7,
    700 : #306ff6,
    800 : #2865f5,
    900 : #1b52f3,
    A100 : #ffffff,
    A200 : #f3f6ff,
    A400 : #c0ceff,
    A700 : #a7bbff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/***********************************************************************
  green
***********************************************************************/
$md-green: (
    50 : #e9f4e5,
    100 : #c9e5bf,
    200 : #a5d395,
    300 : #81c16a,
    400 : #66b44a,
    500 : #2aa745,
    600 : #449f25,
    700 : #3b961f,
    800 : #338c19,
    900 : #237c0f,
    A100 : #bbffae,
    A200 : #90ff7b,
    A400 : #65ff48,
    A700 : #4fff2f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/***********************************************************************
  purple
***********************************************************************/
$md-purple: (
    50 : #f0e6f4,
    100 : #dbc1e5,
    200 : #c398d3,
    300 : #aa6ec1,
    400 : #984fb4,
    500 : #8630a7,
    600 : #7e2b9f,
    700 : #732496,
    800 : #691e8c,
    900 : #56137c,
    A100 : #e0b1ff,
    A200 : #cd7eff,
    A400 : #b94bff,
    A700 : #af31ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);



/***********************************************************************
  black
***********************************************************************/
$md-black: (
    50 : #e4e4e5,
    100 : #bcbcbf,
    200 : #8f8f95,
    300 : #62626a,
    400 : #41414a,
    500 : #1f1f2a,
    600 : #1b1b25,
    700 : #17171f,
    800 : #121219,
    900 : #0a0a0f,
    A100 : #5454ff,
    A200 : #2121ff,
    A400 : #0000ed,
    A700 : #0000d4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


/***********************************************************************
  navyblye
***********************************************************************/
$md-navyblue: (
    50 : #e6e5f0,
    100 : #c0bdda,
    200 : #9692c1,
    300 : #6b66a8,
    400 : #4c4595,
    500 : #2c2482,
    600 : #27207a,
    700 : #211b6f,
    800 : #1b1665,
    900 : #100d52,
    A100 : #8d89ff,
    A200 : #5b56ff,
    A400 : #2a23ff,
    A700 : #1109ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


/***********************************************************************
  brown
***********************************************************************/
$md-brown: (
    50 : #eae3e3,
    100 : #c9baba,
    200 : #a68c8c,
    300 : #825d5d,
    400 : #673b3b,
    500 : #4c1818,
    600 : #451515,
    700 : #3c1111,
    800 : #330e0e,
    900 : #240808,
    A100 : #ff6161,
    A200 : #ff2e2e,
    A400 : #fa0000,
    A700 : #e00000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/***********************************************************************
  cadetblue
***********************************************************************/
$md-cadetblue: (
    50 : #ebf2f3,
    100 : #cedfe1,
    200 : #aec9cd,
    300 : #8db3b9,
    400 : #74a3aa,
    500 : #5c939b,
    600 : #548b93,
    700 : #4a8089,
    800 : #41767f,
    900 : #30646d,
    A100 : #b8f3ff,
    A200 : #85ebff,
    A400 : #52e3ff,
    A700 : #39dfff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/***********************************************************************
  darkblue
***********************************************************************/
$md-darkblue: (
    50 : #e6eaef,
    100 : #c1ccd7,
    200 : #97aabc,
    300 : #6d87a1,
    400 : #4e6e8c,
    500 : #2f5478,
    600 : #2a4d70,
    700 : #234365,
    800 : #1d3a5b,
    900 : #122948,
    A100 : #83b4ff,
    A200 : #5095ff,
    A400 : #1d76ff,
    A700 : #0367ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/***********************************************************************
  orangered
***********************************************************************/
$md-orangered: (
    50 : #ffe9e3,
    100 : #fec8b8,
    200 : #fea489,
    300 : #fd7f59,
    400 : #fc6336,
    500 : #fc4812,
    600 : #fc4110,
    700 : #fb380d,
    800 : #fb300a,
    900 : #fa2105,
    A100 : #ffffff,
    A200 : #ffefee,
    A400 : #ffc0bb,
    A700 : #ffa9a2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/***********************************************************************
  midnightblue
***********************************************************************/
$md-midnightblue: (
    50 : #e6e4e9,
    100 : #c1bbc8,
    200 : #978ea3,
    300 : #6d607e,
    400 : #4e3e63,
    500 : #2f1c47,
    600 : #2a1940,
    700 : #231437,
    800 : #1d112f,
    900 : #120920,
    A100 : #915fff,
    A200 : #6e2cff,
    A400 : #4e00f8,
    A700 : #4600df,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


/***********************************************************************
  bwfblue
***********************************************************************/
$md-bwfblue: (
    50 : #e7ecf3,
    100 : #c4d0e2,
    200 : #9cb1cf,
    300 : #7492bb,
    400 : #577aad,
    500 : #39639e,
    600 : #335b96,
    700 : #2c518c,
    800 : #244782,
    900 : #173570,
    A100 : #a9c3ff,
    A200 : #76a0ff,
    A400 : #437dff,
    A700 : #2a6bff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


