<div class="dashboard-backdrop-container">
    <div class="dashboard-backdrop">
        
    </div>
  </div>
  <header class="site-header">
    <div class="container d-flex">
      <div class="site-header-left">
        <a href=""><span class="logo" style="background-image: url('./assets/logo-rejaxpay.png');"></span></a>
        <nav class="site-menu">
          <ul>
            <li>
              <button mat-button [matMenuTriggerFor]="cadastro">Grupos</button>
              <mat-menu #cadastro="matMenu">
                <button mat-menu-item>Item</button>
                <button mat-menu-item>Item</button>
              </mat-menu>
            </li>
            <li>
              <button mat-button [matMenuTriggerFor]="opDiaria">Contas</button>
              <mat-menu #opDiaria="matMenu">
                <button mat-menu-item>Cadastros pendentes</button>
                <button mat-menu-item>Todos</button>
                <button mat-menu-item>Permissões</button>
              </mat-menu>
            </li>
          </ul>
        </nav>
      </div>
      <div class="site-header-right">
        <button class="notifications-bt pulseAnim" mat-icon-button [matMenuTriggerFor]="notifications" aria-label="Example icon-button with a menu">
          <mat-icon>notifications</mat-icon>
        </button>
        <mat-menu #notifications="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </header>
  <div class="subheader grid-item">
    <div class="container">
      <div class="subheader-main">
        <h3 class="subheader-title">Dashboard</h3>
        <div class="subheader-breadcrumbs">
          <a href="#" class="subheader-breadcrumbs-home"><mat-icon>home</mat-icon></a>
          <span class="subheader-breadcrumbs-separator"></span>
          <a href="" class="subheader-breadcrumbs-link">
            Dashboard
          </a>
          <span class="subheader-breadcrumbs-separator"></span>
          <a href="" class="subheader-breadcrumbs-link">
            Default Dashboard
          </a>
        </div>
      </div>
      <div class="subheader-toolbar">
        <div class="subheader-wrapper">
          <a href="#" class="btn subheader-btn-secondary">
            Reports
          </a>
          
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="container">
    <div class="row">
      <div class="col-12">








        
        <div class="portlet">
          <header class="portlet-header">
            <div class="portlet-head-label">
              <h3 class="portlet-head-title">
                Grupos
              </h3>
            </div>
            <div class="portlet-head-toolbar">
                <button class="notifications-bt pulseAnim" mat-icon-button [matMenuTriggerFor]="notifications" aria-label="Example icon-button with a menu">
                  <mat-icon>more_horiz</mat-icon>
                </button>
            </div>
          </header>
          <div class="portlet-body">
            <table class="portlet-table">
              <tr>
                <th>
                  Core IP
                </th>
                <th>
                  Nome
                </th>
                <th>
                  UUID
                </th>
              </tr>
              <tr>
                <td>
                  QGX000001
                </td>
                <td>
                  MundoMaxx
                </td>
                <td>
                  XXXXXXXX
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="portlet">
          <header class="portlet-header">
            <div class="portlet-head-label">
              <h3 class="portlet-head-title">
                MundoMaxx
              </h3>
            </div>
            <div class="portlet-head-toolbar">
                <button class="notifications-bt pulseAnim" mat-icon-button [matMenuTriggerFor]="notifications" aria-label="Example icon-button with a menu">
                  <mat-icon>more_horiz</mat-icon>
                </button>
            </div>
          </header>
          <div class="portlet-body">
            <div class="row">
              <div class="col-lg-8 col-12 mx-auto">
                <div class="form-portlet-body label-right">
                  <div class="form-group row">
                    <label for="example-text-input" class="col-5 col-form-label">Assunto e-mail recuperação senha</label>
                    <div class="col-7">
                      <input class="form-control" type="text" value="email de recuperação de senha" id="example-text-input">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="example-search-input" class="col-5 col-form-label">Alteração de telefone - mensagem</label>
                    <div class="col-7">
                      <input class="form-control" type="search" value="Codigo de confirmacao para mudanca de telefone" id="example-search-input">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="example-email-input" class="col-5 col-form-label">Alteração de e-mail - mensagem</label>
                    <div class="col-7">
                      <input class="form-control" type="email" value="Codigo de confirmacao para mudanca de e-mail" id="example-email-input">
                    </div>
                  </div>
                </div>
                <div class="form-portlet-foot">
                  <div class="form-portlet-actions">
                    <div class="row">
                      <div class="col-5">
                      </div>
                      <div class="col-7">
                        <button type="reset" class="btn btn-success">Submit</button>
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      
      
      
      
      
        <div class="portlet">
          <header class="portlet-header">
            <div class="portlet-head-label">
              <h3 class="portlet-head-title">
                Cadastros pendentes
              </h3>
            </div>
            <div class="portlet-head-toolbar">
                <button class="notifications-bt pulseAnim" mat-icon-button [matMenuTriggerFor]="notifications" aria-label="Example icon-button with a menu">
                  <mat-icon>more_horiz</mat-icon>
                </button>
            </div>
          </header>
          <div class="portlet-body">
            <table class="portlet-table">
              <tr>
                <th>
                  Nome
                </th>
                <th>
                  E-mail
                </th>
                <th>
                  Documento
                </th>
                <th>
                  Documento
                </th>
              </tr>
              <tr>
                <td>
                  Fábio Martinho
                </td>
                <td>
                  fabio@oi.com
                </td>
                <td>
                  055.470.897-31
                </td>
                <td>
                  055.470.897-31
                </td>
              </tr>
            </table>
          </div>
        </div>
      
      
      
      
      
      
      
      
      </div>
    </div>
  </div>